@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  /* Primary */
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  /* Neutral */
  --grayishBlue: hsl(229, 8%, 60%);
  --veryDarkBlue: hsl(229, 31%, 21%);

  --fontSize: 18px;
  --fontWeight400: 400;
  --fontWeight500: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  max-width: 100%;
  height: 100vh;
  background-color: #fff;
}

.content {
  /* width: 1440px; */
  margin: 0 auto;
  max-width: 100%;
  padding: 0 50px;
  display: flex;
  /* overflow: hidden; */
  flex-direction: column;
}

header.navigation {
  margin-top: 30px;
  padding-right: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo > img {
  cursor: text;
}

.titles {
  color: var(--veryDarkBlue);
}

.nav-links {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.links li {
  text-transform: uppercase;
  list-style-type: none;
  margin-left: 40px;
  color: var(--veryDarkBlue);
}

.links li a {
  font-weight: var(--fontWeight400);
  text-decoration: none;
  color: var(--veryDarkBlue);
  cursor: pointer;
}

.links li a:focus {
  color: var(--softRed);
  font-weight: var(--fontWeight500);
}

button.red {
  font-size: 12px;
  padding: 8px 25px;
  font-weight: var(--fontWeight500);
  color: #fff;
  background-color: var(--softRed);
  border: 1.5px solid transparent;
  outline: none;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0px 4px 3px 1px #e4e4e4;
  cursor: pointer;
}

button.red:focus {
  color: var(--softRed);
  background-color: transparent;
  border-color: var(--softRed);
}

.hero,
.feature-change {
  display: flex;
  margin: 60px 0 50px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  /* gap: 130px; */
}

.feature-change {
  margin: 40px 0 0px;
}

.fea .hero,
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.hero-img,
.features-img {
  position: relative;
  width: 40%;
}

.hero-img > img,
.features-img > img {
  width: 100%;
}

.background-ill {
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 15%;
  /* overflow-x: hidden; */
  border-radius: 0 0 0 150px;
  width: 90%;
  height: 65%;
  background-color: var(--softBlue);
}

.second {
  top: 50%;
  left: -35%;
  width: 130%;
  border-radius: 0 0 150px 0;
}
.third {
  left: -30%;
  width: 450px;
  border-radius: 0 0 150px 0;
}
.fourth {
  left: -30%;
  width: 450px;
  border-radius: 0 0 150px 0;
}

.hero-text,
.bookmark-text {
  text-align: left;
  width: 50%;
}

.hero-text h1 {
  width: 70%;
  font-size: 3rem;
  color: var(--veryDarkBlue);
}

.hero-text p,
.bookmark-text p {
  width: 70%;
  margin: 20px 0;
}

.grey-text {
  color: var(--grayishBlue);
  font-size: var(--fontSize);
}

.hero-text {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background: none;
  border: 2px solid transparent;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--fontWeight500);
  cursor: pointer;
  box-shadow: 0px 2px 3px 2px #e0e0e0;
}

button.blue-btn {
  background-color: var(--softBlue);
  color: #fff;
  font-weight: var(--fontWeight500);
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.hero-buttons .chrome-btn {
  margin-right: 10px;
}

.hero-buttons .chrome-btn:focus,
.cards .card-btn:focus {
  color: var(--softBlue);
  background-color: transparent;
  border-color: var(--softBlue);
}

.hero-buttons .fox-btn {
  background-color: #fff;
  color: var(--veryDarkBlue);
}

.hero-buttons .fox-btn:focus {
  color: var(--veryDarkBlue);
  background-color: transparent;
  border-color: var(--veryDarkBlue);
}

.feature-text,
.feature-details {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.feature-text h2,
.download h2,
.faq-head h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.feature-text p,
.download p,
.faq-head p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .feature-text p,
  .download p,
  .faq-head p {
    width: 100%;
  }

  .hero-text h1 {
    width: 100%;
    font-size: 1.9rem;
  }

  .hero-text p,
  .bookmark-text p {
    width: 100%;
  }
}

.feature-details ul {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding: 0;
  border-bottom: 2px solid #e0e0e0;
}

.feature-details ul li {
  list-style-type: none;
  width: 33%;
  padding: 10px 30px;
  border-bottom: 1px solid transparent;
}

.feature-details ul li a {
  font-weight: var(--fontWeight400);
  color: #4d4d4d;
  text-decoration: none;
}

.feature-details ul > li:hover {
  font-weight: var(--fontWeight500);
  border-bottom: 2px solid var(--softRed);
}

.download,
.faq-head {
  text-align: center;
}

.extension,
.faq-container {
  margin-top: 100px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards div {
  width: 230px;
  margin: 0 15px;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0px 8px 10px 2px #e2e2e2;
  text-align: center;
  border-radius: 5px;
}

.cards div img {
  margin: 30px 0 15px;
  width: 80px;
}

.cards div h3 {
  margin-bottom: 5px;
}

.cards div p {
  width: 100%;
  font-size: 14px;
  padding-bottom: 20px;
  /* border-bottom: 2px dashed var(--grayishBlue); */
}

.cards div:nth-child(2) {
  margin-top: 40px;
}

.cards div:nth-child(3) {
  margin-top: 80px;
}

.cards button {
  margin-top: 10px;
}

.faq-head {
  margin-bottom: 40px;
}

.faqs {
  width: 60%;
  margin: 0 auto;
}

.faqs .faq {
  border-top: 2px solid #e0e0e0;
  padding: 15px 0;
}

.faq:nth-child(4) {
  border-bottom: 2px solid #e0e0e0;
}

.faq-que {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq-que:hover p {
  color: var(--softRed);
}

.faq-que:active img {
  stroke: var(--softRed);
}

.faqs .faq-ans {
  color: var(--grayishBlue);
  margin: 30px 0 0px;
  display: none;
}

.faqs .faq-ans.show-ans {
  display: block;
}

.faq-container button {
  display: block;
  margin: 0 auto;
}
.btn-div {
  margin: 30px 0 100px;
}

footer .top-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: var(--softBlue);
  color: #fff;
  padding: 5rem 0;
}

footer h4 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

footer h2 {
  font-size: 30px;
}

.top-content .mail {
  display: flex;
  gap: 10px;
}

.top-content .mail input {
  position: relative;
  width: 250px;
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 0px 5px;
  outline-color: var(--softBlue);
  font-size: 16px;
  font-weight: var(--fontWeight400);
  font-family: "Rubik", sans-serif;
}

.top-content .mail input .error {
  outline-color: var(--softRed);
}

.top-content .mail-input {
  display: flex;
  position: relative;
}

.img {
  display: none;
  position: absolute;
  top: 25%;
  right: 5%;
}

.img.error {
  display: block;
}

.mail-input:before {
  display: none;
  content: "Whoops, make sure it is an email";
  font-style: italic;
  position: absolute;
  border-radius: 5px;
  width: 245px;
  height: 25px;
  left: -2px;
  top: -2px;
  padding: 50px 5px 0px;
  background-color: var(--softRed);
}

button.contact {
  text-transform: capitalize;
  font-weight: 600;
  box-shadow: none;
  outline: none;
  border-radius: 3px;
  height: 40px;
}

button.contact:focus {
  background-color: #fff;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--veryDarkBlue);
  padding: 20px 0;
  color: #fff;
}

.bottom-content li:hover {
  color: var(--softRed);
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer-links ul {
  display: flex;
}

.footer-links ul li {
  text-decoration: none;
  list-style-type: none;
  margin-left: 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 40px;
}

.socials svg {
  display: block;
  cursor: pointer;
}

.socials svg path:hover {
  fill: var(--softRed);
}

.dots {
  background-image: url(images/bg-dots.svg);
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  height: 5px;
}
